{
  "rules": [
    {
      "allowed": {
        "origins": ["http://localhost:8787", "http://127.0.0.1:8787"],
        "methods": ["GET", "PUT"],
        "headers": ["*"]
      },
      "exposeHeaders": ["ETag"],
      "maxAgeSeconds": 3600
    }
  ]
}
