<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ project_name }}</title>
  </head>
  <body>
    <h1>{{ project_name }}</h1>
    <p>Static files in <code>public/</code> are served ahead of the Worker.</p>
  </body>
</html>
